*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
nav {
    background-color: #0d1021;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.logo {
    padding: 1rem;
    margin-left: 1rem;
    width: 8rem;
}
nav ul{
    padding: 1rem;
}
nav ul li{
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{ 
    color:white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a:hover{
    background: linear-gradient(#00aeef, #ed1c24);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: hsl(171deg 49% 52% / 74%);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #0d1021;
    background-size: cover;
    background-position: center;
    padding: 2rem 10% ;
}
.header-text{
    margin-top: 10%;
    font-size: 2rem;
}
.header-text p{
    
    background: linear-gradient(#00aeef, #ed1c24);
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
.header-text h1 {
    color: #ffffff;
    font-size: 4rem;
    margin-top: 1rem;
}
.header-text h1 span{
    background: linear-gradient(#0F3443, #34E89E);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.myself{
    font-size: 1.8rem;
    margin-top: 20px;
}
.hire{
    margin-top: 1rem;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color:  #0d1021; /* Initial text color */
    background: linear-gradient(#0F3443, #34E89E); /* Initial gradient */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    transition: background 0.5s ease; /* Smooth transition */
}
.hire:hover{
    background: linear-gradient(#34E89E, #0F3443); /* Gradient on hover */
    color: white; /* Optional: Keep text color white on hover */
}

/*=-------about---*/


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    background: linear-gradient(#00aeef, #ed1c24);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 4rem;
    font-weight: 600;
}
.para {
    font-size: 22px;
    color:white;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}
    
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    background: linear-gradient(#0F3443, #34E89E);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-right: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: hsl(171deg 49% 52% / 74%);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
width: 50%;
}
.tab-contents ul li{
    background: linear-gradient(#00aeef, #ed1c24);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    list-style: none;  
    margin: 10px 0;
}
.tab-contents ul li span{
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*-----projects----*/

.projects{
    background-color: #0d1021;
    padding: 50px 0;
}
.main-container {
    padding: 50px 0;
    max-width: 120rem;
    margin: auto;
    width: 92%;
}
.heading{
    margin-bottom: 11rem;
}
.heading-sec__main {
    background: linear-gradient(#00aeef, #ed1c24);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;

    margin-bottom: 3.5rem;
    position: relative;
    color:black;
}
.heading-sec__sub {
    display: block;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}
.projects_list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.proj{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.projects_img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 174, 239, 0.6), #ed1c24);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s ease;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.layer a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 40px;
    border-radius : 50%;
    text-align: center;
}
.proj:hover img{
    transform: translateY(-10px); 
    transition: scale(1.1);
}
.proj:hover .layer{
    height: 100%;
}
.more{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid  hsl(171deg 49% 52% / 74%);
    text-decoration: none;
    padding: 14px 50px;
    border-radius: 6px;
    color: white;
    transition: bacground 0.5s ;
}
.more:hover {
    background: linear-gradient(#0F3443, #34E89E);
}

a {
    text-decoration: none;
}
/*------contact---*/

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    font-size: 1.3rem;
    color: white;
    margin-top: 30px;
}
.icons{
    border: 3px solid #a04762;
    border-radius: 50%;
    height: 2rem;
    background-color:white;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
}
.social-icons a:hover{

    transform: translateY(-5px);
}
.btn.btn2{
    margin-top: 10px;
    padding: 10px;
}
.contact-right{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262639;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
form .btn1{
padding: 14px 60px;
font-size: 18px;
margin-top: 20px;
cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background:white;
    font-weight: 300;
}
.copyright p{
    font-size: 20px;
background: white;
}
.copy-icons{
    background-color: white;
    height: 1rem;
}


/*-------cs for small size----*/
.bar{
    display: none;
}

@media only screen and (max-width: 600px){
    .bar{
        border-radius: 10%;
        border: none;
        display:block ;
    }
}
/* Responsive for tablets (768px and below) */
@media (max-width: 768px) {
    nav ul li {
        margin: 5px 10px;
    }
    
    .header-text h1 {
        font-size: 3rem;
    }
    
    .sub-title {
        font-size: 3rem;
    }
    
    .para {
        font-size: 18px;
    }

    .tab-links {
        font-size: 1.2rem;
        margin-right: 30px;
    }
    
    .myself {
        font-size: 1.5rem;
    }

    .hire {
        font-size: 1rem;
        padding: 8px 16px;
    }
    
    .heading-sec__main {
        font-size: 3rem;
    }
}
#msg{
    color:#61b752 ;
    margin-top: 0px;
    display: block;
}


/* Responsive for mobile devices (480px and below) */
@media (max-width: 480px) {

    .container {
        padding: 1rem 5%;
    }
    .header-text{
        margin-top: 50%;
    }
    .header-text h1 {
        font-size: 2.5rem;
    }
    nav ul {
        width: 200px;
        height: 100vh;
        background: #374242;
        position: fixed;
        top: 0;
        right: -200px;
        /* padding: 1rem; */
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s ease;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul.show {
        right: 0; /* Makes the menu slide in */
    }
    .hire, .btn1, .more {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
    
    .bar {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title {
        font-size: 2rem;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 2rem;
    }
    .tab-links {
        font-size: 1.3rem;
        margin-right: 33px;
    }
    .projects{
        padding-top: 15rem;
    }
    .heading-sec__sub{
        font-size: 1.4rem;
    }
    .heading{
        margin-bottom: 2rem;
    }
    .more{
        margin:2rem auto ;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .contact-left p {
        margin-top: 1rem;
        font-size: 1rem;
    }
    .copyright p{
        font-size: 18px;
    }
    form input, form textarea {
        font-size: 16px;
    }
    .heading-sec__main {
        font-size: 2.5rem;
    }
}

@media (max-width: 320px) {
    .heading-sec__main {
        font-size: 2rem;
    }
    .sub-title {
        font-size: 1.5rem;
    }
}
@media (max-width: 480px) {
    .projects_list {
        grid-gap: 20px;
    }
}
